<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('john-fornander-729631-unsplash.jpg')" >
  <div class="container">
    <h1>Cocktails around the world</h1>
    <p>Full recipe guide to enjoy cocktails more!</p>
</div>
</div>
<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <% if cocktail.photo.file.nil? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),
           rgba(0,0,0,0.3)), url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg')">
        <% else %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),
           rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, crop: :fill %>')">
        <% end %>
          <div>
            <%= cocktail.name %>
          </div>
          <div class="font-weight-light" >
            <% if cocktail.average_rating.class == Integer %>
              <% cocktail.average_rating.times do %>
                <i class="fas fa-cocktail"></i>
              <% end %>
            <% else %>
              <%= cocktail.average_rating %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to new_cocktail_path, class:'btn btn-secondary mt-3' do %>
    <i class="fas fa-cocktail"></i> Add a new cocktail
  <% end %>
</div>

