<% if @cocktail.photo.file.nil? %>
  <div class="banner" >
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @cocktail.photo, crop: :fill %>')">
<% end %>
  <div class="container">
    <h1><%= @cocktail.name %></h1>
    <div class="text-white mt-3" >
      <% if @cocktail.average_rating.class == Integer %>
        <% @cocktail.average_rating.times do %>
          <i class="fas fa-cocktail"></i>
        <% end %>
      <% else %>
        <%= @cocktail.average_rating %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <% @cocktail.doses.each do |dose| %>
    <p>
      <%= "#{dose.ingredient.name.capitalize} - #{dose.amount}, #{dose.description}" %>
      <%= link_to dose_path(dose), method:'delete' do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </p>
  <% end %>
  <div>
    <%= link_to new_cocktail_dose_path(@cocktail), class:'btn btn-secondary btn-sm' do %>
    <i class="fas fa-tint"></i> Add a dose
    <% end %>

  </div>
  <h2 class="mt-3">Reviews</h2>
  <div class="mt-3">
    <% @cocktail.reviews.each do |review| %>
      <p><%= review.comment %>
        <% review.rating.times do %>
          <i class="fas fa-cocktail"></i>
        <% end %>
      </%></p>
    <% end %>
    <%= link_to new_cocktail_review_path(@cocktail), class:'btn btn-secondary btn-sm' do %>
      <i class="fas fa-pen-fancy"></i> Add a review
    <% end %>
    <%= link_to cocktails_path, class:'ml-3' do %>
      Back
    <% end %>
  </div>
</div>

